.main-footer {
  color: white;
  background-color: #059dc0;
  padding-top: 3em;
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
}

.footerCont {
  background-color: #04d4f0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: small;
}

.userProfile {
  margin-top: 300px;
}

.createEvent {
  margin-top: 50px;
}

.event {
  margin-top: 100px;
}
.admin {
  margin-top: 250px;
  height: 100%;
}
.copyright {
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  text-align: center;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  color: black;
}

.col2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.col2 li {
  text-align: left;
}

.col3 li {
  text-align: left;
  list-style-type: none;
}
.col3 span {
  background-color: wheat;
  margin-bottom: -12px;
}
